<div class="w-full h-full flex flex-wrap overflow-y-auto">
  @if((petFacade.isProcessing$ | async)) {
  <div class="w-full h-full flex items-center justify-center">
    <mat-spinner></mat-spinner>
  </div>
  } @else { @for(pet of petFacade.pets$ | async; track pet.id) {
  <div
    (click)="petFacade.loadPet(pet.id)"
    class="bg-white ml-6 my-6 card rounded-lg border flex flex-col cursor-pointer overflow-hidden"
  >
    <div>
      <img class="pic" src="{{ pet.photo }}" />
    </div>
    <div class="px-5 py-3">
      <span class="font-bold text-xl">{{ pet.name | titlecase }}</span>
    </div>
    <div class="px-5 flex flex-row">
      <span>Age: {{ pet.age }}</span>
      <span class="mx-3">Type: {{ pet.type | titlecase }} </span>
    </div>
  </div>
  } }
</div>
